@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&family=Ovo&display=swap');


h1{
  font-family: 'Abril Fatface', cursive;
}

h2{
  font-family: 'Open Sans', sans-serif;
}

h3{
  font-family: 'Ovo', serif;
}

p{
  font-family: 'Ovo', serif;
}

.capitalOpensans{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;

}